@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

#pane {
    /* -fx-background-color: #c8d8e4; */
    -fx-background-color: #2b6777;
    -fx-background-repeat: stretch;  
    -fx-background-size: 1304 739;
    -fx-background-position: center center;
}

/* Text Fields */
.newField {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 ); 
    -fx-font-family: "Ubuntu Light";
}
.searchStyle {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
    -fx-font-family: "Ubuntu Light";
}



/* Labels*/
#libraryMainLabel {
    -fx-font-family: "Ubuntu Light";
    -fx-font-size: 35px;
}
#addBookLabel {
    -fx-font-family: "Ubuntu Light";
    -fx-font-size: 20px;
    -fx-text-align: center;
}



/* Table Design */

 .tableStyle {
    -fx-font-family: "Ubuntu Light";
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 25, 0.0 , 0 , 1 );
} 


/* Add New Book Styles */
#addBookBtn {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
}
#addBookBtn:hover {
    -fx-background-color: rgb(168, 192, 238);
    -fx-text-fill: black;
}
#addBookBtn:pressed {
    -fx-rotate: 10;
}
#headPane {
    -fx-background-color: white;
}
#leftPane {
    -fx-background-color: #2b6777;
}