@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

*{
    fx-primary: rgb(127,0,52);
    fx-secondary: rgb(228,177,8);
    -fx-font-family: "Verdana";
    
}

/* Panes */
#anchor {
    -fx-background-color: fx-secondary;
}
#leftPaneInitial {
    -fx-background-color: fx-primary;
}
#leftPane {
    -fx-background-color: rgb(64,64,64);
}

/* Buttons */
.btn{
    -fx-background-radius: 20;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
}
#b1 {
    -fx-background-color: fx-primary;
    -fx-text-fill:white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-size: 16;
    -fx-font-weight: 10px;
}
#b1:hover {
    -fx-background-color: black;
}
#addBookBtn {
    -fx-background-color:rgb(64,64,64);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: 10px;
}
#addBookBtn:hover{
    -fx-background-color:white;
    -fx-text-fill: black;
}
#cancelBtn {
    -fx-background-color:rgb(64,64,64);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: 10px;
}
#cancelBtn:hover{
    -fx-background-color:white;
    -fx-text-fill: black;
}

/* Text Field */
#searchField {
    -fx-effect: dropshadow(one-pass-box, rgb(214, 167, 13),  10,0.5,10,5);
    -fx-background-color: rgb(223, 217, 217);
}
.newBookFields {
    -fx-effect: dropshadow(one-pass-box,rgb(48, 47, 47),  10,0.5,5,5);
}

/* Table */
#table {
    -fx-effect: dropshadow(one-pass-box, rgb(214, 167, 13),  10,0.5,10,5);
    -fx-background-color: rgb(223, 217, 217);
}